/* Inicialiar estilos */
/* Globales */
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: Poppins, sans-serif;
    font-size: 1.6rem;
}

img {
    max-width: 100%;
    width: 100%;
}

/* Utilidades */
.m-0 {
    margin: 0;
}

.t-a-c {
    text-align: center;
}

.f-z-3 {
    font-size: 3rem;
}

.contenedor {
    width: 98%;
    max-width: 120rem;
    margin: 0 auto;
}

.boton {
    display: block;
    padding: 1.5rem 5rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 600;
}

@media (min-width: 768px) {
    .boton {
        display: inline-block;
    }
}

.boton-primario {
    background-color: rgb(26, 25, 25);
    transition: .3s;
}

.boton-primario:hover {
    background-color: rgba(26, 25, 25, 0.932);
}

.boton-secundario {
    background-color: rgb(126, 82, 53);
}

.boton-secundario:hover {
    background-color: rgb(126, 82, 53, 0.932);
}

.boton:hover {
    cursor: pointer;
}

/* ============== HEADER ============== */
/* Header del sitio */
.site-header {
    background-image: url(../IMG/banner.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 60rem;
}

/* Barra de navegación */
.barra {
    padding: 2rem 0;
    text-align: center;
}

@media (min-width: 768px) {
    .barra {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.barra a {
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
}

.barra a h1 {
    font-weight: 300;
}

.barra a h1 span {
    font-weight: 700;
}

.navegacion ul {
    margin: 0;
    padding: .7rem 0;
    list-style: none;
}

.navegacion ul li {
    padding: .7rem 0;
}

@media (min-width: 768px) {
    .navegacion ul {
        display: flex;
    }

    .navegacion ul li {
        margin-right: 4rem;
    }
    
    .navegacion ul li:last-child {
        margin-right: 0;
    }
}

.navegacion ul li a {
    transition: all .3s;
}

.navegacion ul li a:hover {
    color: rgb(177, 118, 84);
}

/* Texto header */
.texto-header {
    color: #fff;
    text-align: center;
    margin-top: 8rem;
}

.texto-header h2 {
    font-size: 3rem;
    font-weight: 600;
}

.texto-header p {
    font-weight: 300;
    margin-top: 1rem;
}

@media (min-width: 768px) {
    .texto-header {
        margin-top: 20rem;
    }

    .site-header p {
        margin-top: 4rem;
    }
}

/* ============== CONTENIDO PRINCIPAL ============== */
/* Contenedor principal */
.contenido-principal {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 768px) {
    .contenido-principal {
        justify-content: space-between;
    }
}

.blog {
    flex-basis: 100%;
}

@media (min-width: 768px) {
    .blog {
        flex-basis: 60%;
    }
}

.blog h2 {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 3rem;
}

.entrada-blog {
    margin-top: 5rem;
}

.contenido-entrada h3 {
    margin: 1rem 0;
}

.contenido-entrada p {
    font-size: 1.8rem;
    margin: 0 0 1rem 0;
    text-align: justify;
}

.lista-cursos {
    flex-basis: 100%;
    order: -1;
}

@media (min-width: 768px) {
    .lista-cursos {
        flex-basis: calc(40% - 2rem);
        order: 1;
    }
}

.lista-cursos h2 {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 3rem;
}

.lista-cursos ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.curso {
    margin-bottom: 4rem;
}

.curso h3 {
    font-size: 2.2rem;
}

.curso p {
    font-size: 1.9rem;
    font-weight: 600;
}

.curso p span {
    font-weight: 300;
}

/* ============== FOOTER ============== */
.site-footer {
    background-color: rgb(26, 25, 25);
    margin-top: 5rem;
    padding: 1rem 0;
}

/* ============================================ */
/* ============== PAGINAS INTERNAS ============== */
/* ============================================ */

/* Nosotros */
@media (min-width: 768px) {
    .contenedor-nosotros {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .imagen {
        flex-basis: calc(50% - 1rem);
    }

    .texto-nosotros {
        flex-basis: calc(50% - 1rem);
    }
}

/* Cursos */
.descripcion {
    font-weight: 400 !important;
    text-align: justify;
}

@media (min-width: 768px) {
    .curso-u p {
        margin: 4rem 0;
    }

    .curso-u {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5rem;
    }

    .curso-u .imagen {
        flex-basis: calc(30% - 1rem);
    }

    .contenido-curso {
        flex-basis: calc(70% - 1rem);
    }
}

/* Contacto */  
.contenedor-formulario {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contenedor-formulario .imagen {
    flex: 0 0 100%;
}


.formulario {
    flex: 1;
    margin-top: 2rem;
    background-color: #fff;
}

@media (min-width: 768px) {
    .formulario {
        flex: 0 0 80%;
        margin: -20rem auto 0 auto;
        padding: 2rem;
        border: .1rem solid #000;
    }
}

.submit > input {
    width: 100%;
}

@media (min-width: 768px) {
    .submit {
        display: flex;
        justify-content: flex-end;
    }

    .submit > input {
        width: auto;
    }
}

.campo {
    margin-bottom: 2rem;
}

.campo label {
    display: block;
    font-size: 1.8rem;
    margin: .5rem 0;
}

.campo input, 
.campo textarea {
    width: 100%;
    padding: 1rem;
    outline: none;
}

.campo textarea {
    height: 20rem;
}

@media (min-width: 768px) {
    .campo {
        display: flex;
        justify-content: space-between;
    }

    .campo label {
        margin-top: 1rem;
    }

    .campo input, .campo textarea {
        margin-left: 1rem;
        flex: 1;
    }
}